* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* the header element that includes the h1 and nav element will apply these four CSS properties*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* the h1 inside the header element will be displayed inline-block and have a font-size of 48px*/
header h1 {
    display: inline-block;
    font-size: 48px;
}
/* the h1 inside the header with the class of seo will apply the color #d9dcd6*/
header h1 .seo {
    color: #d9dcd6;
}
/* the navbar which includes the ul will apply these five CSS properties*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* the list in the navbar will have no style (no bullets)*/
header nav ul {
    list-style-type: none;
}
/* the list items inside the navbar will be displayed inline-block and have a margin left of 25px*/
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* the section element will apply these six CSS properties*/
section {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* the main element will have a width of 75%, margin left of 20px, and will be displayed inline-block*/
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* the aside element will apply these eight CSS properties*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* the lead class will have a margin bottom of 32px and color text will be white*/
.lead {
    margin-bottom: 32px;
    color: #ffffff;
}
/* the brand class will have a margin bottom of 32px and color text will be white*/
.brand {
    margin-bottom: 32px;
    color: #ffffff;
}
/* the cost class will have a margin bottom of 32px and color text will be white*/
.cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/* h3 from the lead class will have a margin bottom of 10px and the text will be centered*/
.lead h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* h3 from the brand class will have a margin bottom of 10px and the text will be centered*/
.brand h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* h3 from the cost class will have a margin bottom of 10px and the text will be centered*/
.cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* image inside the lead class will apply these threee CSS properties*/
.lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* image inside the brand class will apply these threee CSS properties*/
.brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* image inside the cost class will apply these threee CSS properties*/
.cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* image inside the social-media-marketing class will apply these three CSS properties*/
.search-engine-optimization img{
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* image inside the social-media-marketing class will apply these three CSS properties*/
.online-reputation-management img{
    float: right;
    margin-left: 25px;
    max-height: 200px;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* image inside the social-media-marketing class will apply these three CSS properties*/
.social-media-marketing img{
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* the footer element will apply these four CSS properties*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* h2 in footer element will have a font size of 20px*/ 
footer h2 {
    font-size: 20px;
}
